body {
    font-family: 'Lato', serif;
    font-weight: 300;
    background-color: #fffdff;
    padding-left: 1.5rem;
    padding-top: 0.4rem;
}

h2 {
    font-weight: 300;
    font-size: 19px;
}

ul {  
    list-style-type: none;  
    }  